<template name="apikeys">


    <a href="{{pathFor route='apikey_add'}}" class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add api key
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>


    <table class="table">
        <thead>
        <tr>
            <th colspan="1">#</th>
            <th>KeyName</th>
            <th>KeyID</th>
            <th>Type</th>
            <th>Access Mask</th>
            <th>Info</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        {{#each getApikeys}}
            <tr class="{{rowClass}}">
                <th scope="row">
                    <span class="glyphicon glyphicon-{{stateGymp state type}}" aria-hidden="true"></span>
                </th>
                <td>{{keyName}}</td>
                <td>{{keyid}}</td>
                <td>{{type}}</td>
                <td>{{accessMask}}</td>
                <td>{{keyInfo}}</td>
                <td>{{formatDate updated}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <br>

    {{> apikeys_nav}}


</template>