<template name="apikeys">


    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Key</th>
            <th>Access Mask</th>
            <th>Info</th>
            <th>Last fetch</th>
        </tr>
        </thead>
        <tbody>
        <tr class="active">
            <th scope="row">1</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        </tbody>
    </table>

</template>