/* CSS declarations go here */

body {

  padding-top: 50px;

  .container-body {
    padding: 40px 15px;
  }

}

#navbar {
  .logineveonlines {
    cursor: pointer;
    margin-top: 3px;
    margin-left: 3px;
  }

  .eveclock {
    font-size: 120%;
  }

  .logout {
    cursor: pointer;
  }

  .dropdown-usermenu {
    background-repeat: no-repeat;
    padding-left: 50px;
    background-size: auto 100%;
  }
}


.page-apikey_add, .page-apikey_group {
  form label.error {
    color: red;
  }

  #eve_api_key_add_group .input-group-btn {
    vertical-align: top;
  }

  .alert {
     > span {
      padding-left: 10px;
    }
  }



}

.page-towers {
  .listtowers thead tr th {
    cursor: pointer;

    .glyphicon {
      margin-right: 5px;
    }

    .activeOrder {
      color: red;
    }
  }
}

.page-apikey_group {

  h4.panel-title {
    height: 32px;

    .groupadd {
      max-width: 350px;
      float: right;
      margin-right: 10px;
    }
  }

}

.page-apikeys {
  .success.success-corp > th,
  .success.success-corp > td {
    background-color: #DFF86D;
  }
}

.page-notFound {
  font-style: italic;
  text-align: center;
}

#forkmeongithub {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  z-index: 2500;
  width: 150px;
  height: 150px;
  background-image: url("//camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media only screen and (min-width: 1360px) {
  #forkmeongithub {
    left: auto;
    right: 0;
    background-image: url("//camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67");
  }
}