<template name="towers">


    <table class="table table-bordered listtowers">

        <thead>
        <tr>
            <th data-order="fuelLeftUntil" class="activeOrder" colspan="1"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>#</th>
            <th data-order="systemName">System</th>
            <th data-order="celdata.planet">Planet</th>
            <th data-order="celdata.moon">Moon</th>
            <th data-order="regionName">Region</th>
            <th data-order="typeName">Tower</th>
            <th data-order="corpName">Corp</th>
            <th>...</th>
        </tr>
        </thead>

        <tbody>
        {{#each getTowers}}
            <tr class="{{rowClass}}">
                <th>{{countdown fuelLeftUntil}}</th>
                <td>{{systemName}}</td>
                <td>{{celdata.planet}}</td>
                <td>{{celdata.moon}}</td>
                <td>{{regionName}}</td>
                <td>{{shorternTowerName typeName}}</td>
                <td>{{corpName}}</td>
                <td>{{_id}}</td>
            </tr>
        {{/each}}
        </tbody>

    </table>

</template>