<template name="topnav">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" href="#">EveMeteor</span>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                
                {{#if currentUser}}
                    <ul class="nav navbar-nav">
                        <li><a href="/chars">Characters</a></li>
                        <li><a href="/ratter">Ratter</a></li>
                        <li><a href="/towers">Towers</a></li>
                    </ul>
                {{/if}}

                <ul class="nav navbar-nav navbar-right">
                    <li><a class="eveclock">{{formatDate getDate 'time'}}</a></li>
                    {{> topnav_account}}
                </ul>

            </div>


        </div>
    </nav>
</template>